<%- include('../partials/header.ejs', {title: 'Edit Menu', currentPage: 'Menus'}) %>
<div class="mt-4" style="width: 80vw; margin: 0 auto">
    <a class="btn btn-outline-primary" href="/menus" role="button"
        >Menus</a
    >
    <form method="POST" action="/menus/<%= menu.id %>/edit">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label"
                >Name</label
            >
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="<%= menu.name %>"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label"
                >Category</label
            >
            <div class="col-sm-10">
                <select class="form-select" aria-label="category" name="category">
                    <option>Select Category</option>
                    <option value="BREAKFAST" <%= menu.category === "BREAKFAST" ? "selected" : "" %>>BREAKFAST</option>
                    <option value="LUNCH" <%= menu.category === "LUNCH" ? "selected" : "" %>>LUNCH</option>
                    <option value="DINNER" <%= menu.category === "DINNER" ? "selected" : "" %>>DINNER</option>
                    <option value="BRUNCH" <%= menu.category === "BRUNCH" ? "selected" : "" %>>BRUNCH</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="uom" class="col-sm-2 col-form-label"
                >UOM</label
            >
            <div class="col-sm-10">
                <input type="text" class="form-control" id="uom" name="uom" value="<%= menu.uom %>"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="instructions" class="col-sm-2 col-form-label"
                >Instructions</label
            >
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="How to cook it?" id="instructions" name="instructions"><%= menu.instructions %></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Edit</button>
    </form>
</div>

<%- include('../partials/footer.ejs') %>
